<h1>My Products</h1>
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Product Production Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.ProductName</td>
                <td>@product.ProductCategory</td>
                <td>@product.ProductProductionDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
